{{define "title"}}about{{end}}

{{define "main"}}
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-mono font-medium tracking-normal text-neutral-800">About</h2>
    <p class="text-xs font-mono font-medium tracking-normal text-neutral-800">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus aliquam eleifend mi in. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Ante in nibh mauris cursus mattis. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Amet dictum sit amet justo. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Id volutpat lacus laoreet non curabitur. Semper feugiat nibh sed pulvinar. Dictum fusce ut placerat orci nulla.
    </p>
  </div>
{{end}}