{{define "title"}}home{{end}}

{{define "main"}}
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-mono font-medium tracking-normal text-neutral-800">Latest Snippets</h2>
    {{if .Snippets}}
    <table class="min-w-full divide-y divide-neutral-400">
      <thead>
        <tr>
          <th scope="col" class="text-xs pb-2 font-mono font-medium tracking-normal text-neutral-800 text-left">Title</th>
          <th scope="col" class="text-xs pb-2 font-mono font-medium tracking-normal text-neutral-800 text-left">Created</th>
          <th scope="col" class="text-xs pb-2 font-mono font-medium tracking-normal text-neutral-800 text-left"></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-neutral-200">
        {{range .Snippets}}
        <tr>
          <td class="text-xs py-2 font-mono font-medium tracking-normal text-neutral-800 text-left">{{.Title}}</td>
          <td class="text-xs py-2 font-mono font-medium tracking-normal text-neutral-800 text-left">{{humanDate .Created}}</td>
          <td class="text-xs py-2 font-mono font-medium tracking-normal text-neutral-800 text-left">
            <a href='/snippet/view/{{.ID}}'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
              </svg>
            </a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    {{else}}
    <p class="text-xs font-mono font-medium tracking-wide text-neutral-800">There's nothing to see here yet!</p>
    {{end}}
  </div>
{{end}}