{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' href='../static/img/favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="../static/css/output.css" />
    <title>{{template "title" .}} - Snippetbox</title>
  </head>
  <body>
    <div class="mx-auto max-w-5xl">
      <div class="flex flex-col py-4 gap-8 h-screen">
        <header class="flex flex-row justify-center items-center">
          <h1 class="text-3xl font-mono tracking-wide font-bold">
            <a href="/">Snippetbox</a>
          </h1>
        </header>
        {{template "nav" .}}
        <main class="flex-grow">
          {{template "main" .}}
        </main>
        <footer class="mt-auto">
          <p class="text-xs font-mono tracking-wide text-neutral-80">
            Powered by <a href="https://golang.org/" class="hover:text-cyan-600">Go</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
{{end}}
