{{define "nav"}}
<nav>
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row gap-4">
      <a href='/' class="text-xs font-mono font-medium tracking-wide text-neutral-800 underline underline-offset-8">Home</a>
      <a href='/snippet/create' class="text-xs font-mono font-medium tracking-wide text-neutral-800 underline underline-offset-8">Create Snippet</a>
    </div>
    <div class="flex flex-row gap-4">
    </div>
  </div>
</nav>
{{end}}